<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre 2021</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
  <header>
   <div> <img src="/img/logo-mercado-liebre.svg" alt="logotipoo"> </div> 
    <div>  barra de busqueda </div>
    <p> Compra en cuotas y sin interès </p>
    <nav> 
        <ul>

        </ul>
    </nav>


  </header>
  <main>
      <section>
          <h2>
              Basado en tu ultiima visita </h2>
      </section>

  </main>
  <footer>


  </footer>
    
</body>
</html>